html {
  font-family: "Microsoft YaHei", "黑体";
}

.warp {
  position: relative;
  width: 100%;
  min-width: 1024px;
  overflow: hidden;
}
/*全局配置结束*/

.nav {
  /*display: none;*/
  position: absolute;
  width: 100%;
  height: 75px;
  min-width: 1050px;
  background-color: transparent;
  z-index: 3;
}

#nav-left {
  position: absolute;
  width: 445px;
  height: 75px;
  right: 58%;
}

#nav-left img {
  float: left;
  margin: 15px 45px 0 14px;
  cursor: pointer;
}

.nav-ul li {
  float: left;
  display: block;
  width: 76px;
  height: 75px;
  padding: 0 10px;
  line-height: 75px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

.nav-ul li a {
  display: block;
  width: 76px;
  height: 75px;
  text-decoration: none;
}

.nav .nav-ul .current {
  background-color: #12b7f5;
}

.nav-ul li a:link,
#nav-left a:visited {
  color: #fff;
}

#nav-right {
  position: absolute;
  width: 320px;
  height: 75px;
  left: 66%;               /*与中线的距离*/
}

#nav-btn {
  float: left;
  width: 96px;
  padding: 39px 0 0 0;    /*设置padding来显示a标签bg图片*/
  margin: 18px 0 0 0;
  background: url(../images/icons.png) no-repeat 0 -244px;
}

#nav-btn:hover {
  background: url(../images/icons.png) no-repeat 0 -284px;
}

#nav-link {
  padding-top: 18px;
  height: 75px;
}

.nav-right-a {
  float: right;
  font-size: 14px;
  line-height: 14px;       /*设置行高与字体大小一样,避免受到默认行高的影响*/
  margin-bottom: 16px;
  padding: 0 12px;
  text-decoration: none;
}

.nav-right-a:link,
.nav-right-a:visited {
  color: #fff;
}

.nav-right-a:hover,
.nav-right-a:active {
  color: #12b7f5;
}

#nav-online:hover {
  text-decoration: underline; /*在线人数有点特别,鼠标悬浮时有下划线*/
}
/*透明导航条样式结束*/

.nav-b {
  display: none;
  position: fixed;
  width: 100%;
  height: 75px;
  min-width: 1050px;
  background-color: #fff;
  z-index: 2;
}

#nav-b-left {
  position: absolute;
  width: 445px;
  height: 75px;
  right: 58%;
}

#nav-b-left img {
  float: left;
  margin: 15px 25px 0 14px;
  cursor: pointer;
}

#nav-b-left a {
  float: left;
  display: block;
  width: 76px;
  height: 75px;
  margin-left: 20px;
  line-height: 75px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

.nav-b #nav-b-left .current {
  color: #12b7f5;
}

#nav-b-left a:link,
#nav-b-left a:visited {
  color: #000;
}

#nav-b-left a:hover,
#nav-b-left a:active {
  color: #12b7f5;
}

#nav-b-right {
  position: absolute;
  width: 320px;
  height: 75px;
  left: 66%;               /*与中线的距离*/
}

#nav-b-btn {
  float: left;
  width: 96px;
  padding: 39px 0 0 0;    /*设置padding来显示a标签bg图片*/
  margin: 18px 0 0 0;
  background: url(../images/icons.png) no-repeat 0 -244px;
}

#nav-b-btn:hover {
  background: url(../images/icons.png) no-repeat 0 -284px;
}

#nav-b-link {
  padding-top: 18px;
  height: 75px;
}

.nav-b-right-a {
  float: right;
  font-size: 14px;
  line-height: 14px;       /*设置行高与字体大小一样,避免受到默认行高的影响*/
  margin-bottom: 16px;
  padding: 0 12px;
  text-decoration: none;
}

.nav-b-right-a:link,
.nav-b-right-a:visited {
  color: #000;
}

.nav-b-right-a:hover,
.nav-b-right-a:active {
  color: #12b7f5;
}

#nav-b-online:hover {
  text-decoration: underline; /*在线人数有点特别,鼠标悬浮时有下划线*/
}
/*固定导航条样式结束*/

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-width: 1007px;
  margin: 0 auto;
  overflow: hidden;           /*图片溢出屏幕隐藏*/
}

.banner li {
  position: absolute;
  list-style-type: none;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  height: 100%;
}

.banner #banner01 {
  opacity: 1;
  background: url(../images/mb60-s.jpg) no-repeat center top;
  background-size: cover;
}
.banner #banner02 {
  opacity: 0;
  background: url(../images/im_pc_banner.jpg) no-repeat center top;
  background-size: cover;
}
/*首页焦点图结束*/

.banner #btn-title01 {
  position: absolute;
  top: 15%;
  right: 50%;
  margin-right: 50px;
  width: 473px;
  height: 329px;
  background: url(../images/mbver636.png) no-repeat 30px 20px;
  z-index: 1;
}
.banner #btn-title02 {
  position: absolute;
  top: 15%;
  right: 50%;
  margin-right: 50px;
  width: 473px;
  height: 329px;
  background: url(../images/pcver83.png) no-repeat top;
  z-index: 1;
}

.banner li a {
  position: absolute;
  top: 414px;
  right: 50%;
  width: 386px;
  height: 76px;
  margin-right: 93.5px;
  background: url(../images/btn541b.png) no-repeat 0 0;
  z-index: 1;
}

.banner li a:hover {
  background: url(../images/btn541b.png) no-repeat 0 -77px;
}
/*焦点图说明文本和按钮结束*/

.nav-dot {
  position: relative;
  width: 100px;
  height: 20px;
  padding: 10px 0 0 10px;
  left: 50%;
  bottom: 10px;
  margin-left: -30px;
  z-index: 1;
}

.nav-dot span {
  float: left;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background: url(../images/nav.png) no-repeat center;
  cursor: pointer;
  z-index: 1;
}

.nav-dot .nav-dot-on {
  float: left;
  width: 15px;
  height: 15px;
  background: url(../images/navcur.png) no-repeat center;
  cursor: pointer;
}

.shadow {
  position: relative;
  widows: 100%;
  height: 52px;
  margin-top: -52px;
  background: transparent url(../images/linearbot.png) repeat-x;
  z-index: 1;
}
/*banner点结束*/

.brand {
  position: relative;
  width: 100%;
  height: 280px;
  background: #fff url(../images/brand.png) no-repeat top;
}
/*焦点图下面的标语条结束*/

.bgimgs {
  width: 100%;
  height: 100%;
}

.bgimgs #bgimg01 {
  position: relative;
  width: 100%;
  height: 600px;
  background: url(../images/bg1_1600.jpg) no-repeat;
  background-position: 50% 30px;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.qqcall {
  position: relative;
  width: 100%;
  height: 584px;
  background-color: #fff;
}

.txtimg {
  position: absolute;
  right: 50%;
  margin-right: -160px;
  margin-top: -179px;
  width: 664px;
  height: 763px;
  background: url(../images/pic1.png) no-repeat 0 0;
}

.txtwarp {
  position: absolute;
  width: 487px;
  left: 50%;
  top: 115px;
  
}

.txtwarp h2 {
  width: 100%;
  height: 0;
  padding-top: 135px;
  overflow: hidden;
  background: url(../images/qcall_txt.png) no-repeat 0 0;
}

.txtwarp p {
  width: 100%;
  margin-top: 12px;
  line-height: 25px;
  text-align: right;
  font-size: 18px;
  letter-spacing: .1em;
  opacity: .6;
}

.txtwarp a:link,
.txtwarp a:visited {
  color: #12b7f5;
  text-decoration: none;
}

.bgimgs #bgimg02 {
  position: relative;
  width: 100%;
  height: 600px;
  background: url(../images/avds.jpg) no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.qqfile {
  position: relative;
  width: 100%;
  height: 584px;
  background-color: #fff;
}

.qqfile .txtwarp {
  margin-left: -487px;
}

.qqfile .txtwarp h2 {
  background: url(../images/txt.png) no-repeat 0 0;
}

.qqfile .txtwarp p {
  text-align: left;
}

.qqfile .txtimg {
  left: 50%;
  margin: 0;
  width: 597px;
  height: 330px;
  bottom: 104px;
  background: url(../images/pic2.png) no-repeat 0 0;
}

.bgimgs #bgimg03 {
  position: relative;
  width: 100%;
  height: 600px;
  background: url(../images/bg3_1600.jpg) no-repeat 0 0;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.qqblog {
  position: relative;
  width: 100%;
  height: 584px;
  background-color: #fff;
}

.qqblog .txtwarp {
}

.qqblog .txtwarp h2 {
  background: url(../images/qblog_txt.png) no-repeat 0 0;
}

.qqblog .txtwarp p {
  text-align: right;
}

.qqblog .txtimg {
  right: 50%;
  margin-right: 75px;
  bottom: 0;
  width: 344px;
  height: 506px;
  background: url(../images/pic3.png) no-repeat 0 0;
}

.txticon {
  position: absolute;
  min-width: 570px;
  height: 150px;
  right: 50%;
  margin-right: -40px;
  margin-top: 295px;
  z-index: 1;
}

.txticon li {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 20px;
}

#txticon01 {
  background: transparent url(../images/qblog_fig1.png) no-repeat 0 0;
}
#txticon02 {
  background: transparent url(../images/qblog_fig2.png) no-repeat 0 0;
}
#txticon03 {
  background: transparent url(../images/qblog_fig3.png) no-repeat 0 0;
}
/*背景图和功能介绍条结束*/

.foot {
  position: relative;
  width: 100%;
  height: 382px;
  background-color: #2a2a2a;
}

.qqmaps {
  width: 960px;
  height: 205px;
  margin: auto;
  padding-top: 34px;
  /*background-color: #ccc;*/
  border-bottom: 1px solid #666;
}

.qqmaps a {
  text-decoration: none;
}
.qqmaps a:link,
.qqmaps a:visited {
  color: #979797;
  text-decoration: none;
}

.platleft {
  float: left;
  width: 510px;
}

.platleft h3 {
  height: 50px;
  color: #666;
  font-size: 14px;
}

.platleft a {
  float: left;
  width: 80px;
  padding-top: 65px;
  text-align: center;
  text-align: center;
  font-size: 14px;
}

.platleft a:hover,
.platleft a:active{
  color: #10caf8;
}

.platleft .qqmb {
  margin-right: 35px; 
  background: transparent url(../images/qqmb.png) no-repeat center top; 
}

.platleft .qqpc {
  margin-right: 35px;
  background: transparent url(../images/qqpc.png) no-repeat center top;
}

.platleft .qqmac {
  margin-right: 35px;  
  background: transparent url(../images/qqmac.png) no-repeat center top;
}

.platleft .qqpad {
  background: transparent url(../images/qqpad.png) no-repeat center top;
}

.platleft a.qqmb:hover {
  background-position: center -93px; 
}

.platleft a.qqpc:hover {
  background-position: center -93px;
}

.platleft a.qqmac:hover {
  background-position: center -93px;
}

.platleft a.qqpad:hover {
  background-position: center -93px;
}
/*页脚左侧结束*/

.map li {
  font-size: 12px;
  line-height: 22px;
}

.map h3 {
  height: 25px;
  color: #666;
  font-size: 14px;
}

.map li a:hover{
  color: #d0cfd7;
}

.qqaq {
  float: left;
  text-align: left;
  width: 185px;
}

.qqfk {
  float: left;
  text-align: left;
  width: 175px;
}

.qqlink {
  float: left;
  text-align: left;
}
/*页脚右侧结束*/

.copyright {
  clear: both;
  width: 960px;
  height: 50px;
  margin: auto;
  padding-top: 16px;
  line-height: 17px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
/*页脚结束*/

.aboutweb {
  position: absolute;
  bottom: -460px;
  width: 100%;
  height: 500px;
  background-color: #eee;
  font-size: 16px;
  z-index: 3;
}

.aboutweb > h3 {
  background-color: #555;
  text-align: center;
  line-height: 40px;
  color: #bbb;
  font-size: 16px;
  letter-spacing: 3px;
  cursor: pointer;
}

.aboutweb > h3:hover {
  background-color: #666;
  opacity: 1;
}

.aboutweb > h3 div {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  margin-left: 60px;
  top: 10px;
  background: transparent url(../images/more01.png) no-repeat 0 0;
  background-size: 20px 20px;
}


.abouttxt {
  width: 960px;
  height: 100%;
  margin: auto;
  padding-top: 10px;
}

.abouttxt > h3 {
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.abouttxt li {
  line-height: 30px;
}

.abouttxt > a:link,
.abouttxt > a:visited {
  text-decoration: none;
  color: #666;
}
.abouttxt > a:hover,
.abouttxt > a:active {
  text-decoration: underline;
  color: #000;
}

#author {
  float: right;
}

#author:link,
#author:visited {
  text-decoration: none;
  color: #000;
}
#author:hover,
#author:active {
  text-decoration: underline;
  color: #000;
}

.abouttxt > a {
  float: left;
}
